.container {
  position: relative;
}
.smallcontainer{
  margin: 10%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box {
  float: left;
  width: 35%;
  margin-left: 10%;
  padding: 5px;
}
.graycontainer {
  background-color: #D2D9DF;
  overflow: hidden;
  padding: 50px;
}
.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  font-size: 100px;
  font-weight: 500;
  margin: 10px;
}
h2 {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-size: 50px;
  font-weight: 400;
}
h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: #FFF;
  font-weight: 350;
  font-style: italic;
}
h4 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: #000;
  font-weight: 350;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: left;
}
