/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    color: grey;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  /* Style the header bar */
  header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 0% 3%;
    background-color: #FFF;
    text-decoration: none;
  }

  /* Style all text in header */
  header a {
    text-decoration: none;
  }

  /* Style the Bins Storage text in header */
  h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #000;
    font-weight: 550;
    margin: 15px;
  }
